/config.json
/.idea/covid19_dashboard.iml
/COVID19_Fallzahlen_CH_total_v2.csv
/Dashboard_3_COVID19_labtests_positivity.xlsx
/Folkhalsomyndigheten_Covid19.xlsx
/px-x-0102020206_111.csv
/px-x-0102030000_101.csv
/ts-d-14.03.04.03-wr.csv
/ts-d-14.03.04.03-wr_ZR.csv
/.idea/vcs.xml
/owid-covid-data.xlsx
